body {
  background-color: rgb(212, 221, 221);
}

.logo-part img {
  height: 50px;
}
.logo-part {
  display: flex;
  background-color: rgb(251, 255, 7);
  /* line-height: 50px; */
  padding-top: 10px;
}
.logo-name {
  text-align: center;
  padding-left: 20%;
}
.logo-name img {
  height: 60px;
}
.logo-img {
  padding-left: 20%;
}
.for-title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  padding: 1px;
}
